table {
    border-collapse:collapse;
    text-align: left;
    
}
th,td {
    padding: 7px 10px 10px 10px;
}
th {
    border-top: solid 2px;
    border-bottom: solid 2px;
    border-color: blue black blue black;   
    color: orange; 
}

tr.zebra {
    background-color: #efefef;
}
